body {
    box-sizing: border-box;
    font-family: 'Palatino', "Palatino Linotyp";
    margin-top: 0px;
    color: #365f91;
}

button {
    font-family: 'Palatino', "Palatino Linotyp";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #365f91;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, button:hover {
    background-color: #001525;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

.name {
    font-weight: 800;
}

.item {
    padding: 15% 2em 100px 2em;
    padding-bottom: 3em;
    text-align: center;
    height: 100%;
}

.projects {
    padding-top: 20px!important;
    margin-right: 1em;
    margin-left: 1em;
}

p.bio {
    font-size: 1.2em;
    font-weight: 300;
}

h1 {
    font-size: 2.2em;
}

.links {
    margin: 25px;
}

.btn-dark {
    color: white;
    font-size: 1em;
    background-color: #365f91;
    padding: 5px 16px;
    text-decoration: none;
    border: none;
    min-width: 100px;
    border: 2px solid #365f91;
}

.btn-light {
    color: #365f91;
    font-size: 1em;
    background: #ffffff;
    padding: 5px 16px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 100px;
    border: 2px solid #365f91;
}

.image {
    height: 150px;
    width: 100%;
}

@media only screen and (min-width: 680px) {
    .btn-dark {
        color: white;
        font-size: 1.2em;
        background-color: #365f91;
        padding: 5px 16px;
        text-decoration: none;
        border: none;
        min-width: 134px;
        border: 2px solid #365f91;
    }
    .btn-light {
        color: #365f91;
        font-size: 1.2em;
        background: #ffffff;
        padding: 5px 16px;
        text-decoration: none;
        border: none;
        min-width: 134px;
        border: 2px solid #365f91;
    }

    .item {
        padding: 15% 20em 100px 20em;

    }

    .item, .projects {
        padding-bottom: 3em;
        text-align: center;
        height: 100%;
    }
    .projects {
        padding: 15% 4em 100px 4em;
    }

    .image{
        height: 100%;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.card:hover {
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 6px 16px;
    text-align: left;
}

a.fa {
    margin: 7px;
    color: #365f91;
}